<!-- <div class="container-header">
    <h1>WELCOME TO HMMPSS HOSPITAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-hospital"></i></h1>
    <br/>
    <br/>
    </div>
    <router-outlet></router-outlet>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br> -->
    <div class="container-header">
    </div>
    <router-outlet></router-outlet>
 <!--    <footer class="footer">
        <div class="container-footer">
        <h6>Copyright@2021 HMMPSS HOSPITAL APP | Done by: HarithaPrabhakaran, MeenaGovindaraj, Mubasheer, PavithraNagarajan, SoumyaGovindraj, SudharaniKonari</h6>
    </div> -->


<router-outlet></router-outlet>